@use "sass:math";

$letterSize: 24px;

.noselect {
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#messageHolder {
    min-height: 50px;
}

div.message {
    border-radius: 4px;
    background-color: #606060;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    &--red {
        background-color: #f63100;
    }
    &--blue {
        background-color: #00c1f6;
    }
}

header,
footer {
    max-width: 400px;
    min-width: 300px;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    #title {
        font-weight: bold;
    }
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
        width: 200px;
        justify-content: space-between;
        font-size: 10px;
        a,
        a:visited {
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}

.kv {
    font-size: 12px;
    label {
        font-weight: bold;
        margin-right: 3px;
    }
    span {
        font-size: 12px;
    }
}

#inputWord {
    text-transform: uppercase;
    font-weight: 800;
    font-size: $letterSize;
    min-height: $letterSize + 5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-bottom: 20px;
}

#letters {
    position: relative;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.letterButton {
    position: absolute;
    $size: 75px;
    width: $size;
    height: $size;
    cursor: pointer;
    @extend .noselect;
    &--selected,
    &:hover {
        svg {
            path {
                fill: #00c1f6;
            }
        }
    }

    $distance: $size - 3;
    @mixin position($angle, $distance) {
        $x: math.round($distance * math.cos($angle));
        $y: math.round($distance * math.sin($angle));
        transform: translate($x, $y);
    }

    @for $i from 2 through 7 {
        &:nth-child(#{$i}) {
            @include position((60deg * $i) + 30deg, $distance);
        }
    }

    .letter {
        position: absolute;
        @extend .noselect;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: $letterSize;
        opacity: 1;
        transition: opacity 0.3s ease-out;
        &.hidden {
            opacity: 0;
        }
    }
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        fill: #e5e5e4;
        path {
            transition: fill 0.3s ease-out;
        }
    }
}

ul#actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    @extend .noselect;
    .action:focus {
        border: 1px solid #d7d7d7;
        font-size: 13px;
        padding: 6px 12px;
        border-radius: 20px;
        color: #222;
        cursor: pointer;
    }
    .action {
        @extend .noselect;
        border: 1px solid #d7d7d7;
        font-size: 13px;
        padding: 6px 12px;
        border-radius: 20px;
        color: #222;
        cursor: pointer;
        transition: background 0.3s ease-out, border 0.3s ease-out;
        text-align: center;
        &--disabled {
            color: #eee;
            border: 1px solid #eee;
            pointer-events: none;
        }
        &--skip {
            width: 25px;
        }
        &:hover {
            background: #f5f5f5;
        }
        &:not(&:last-child) {
            margin-right: 10px;
        }
    }
}
